nav {
  @include defaults;
  background: $darkblue;
  z-index: $z-nav;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  ul {
    position: relative;
    @include defaults;
    list-style: none;
    li {
      @include defaults;
      display: inline-block;

      &.active a {
        background: $orange;
        color: $darkblue;
      }
      &.pull-right {
        float: right;
      }
      a {
        font-family: $header-font;
        display: block;
        padding: 8px 10px 6px 10px;
        text-decoration: none;
        color: $white;
      }

      ul {
        @include transition(all, 0.25s, ease, 0);
        z-index: $z-dropdown;
        position: absolute;
        top: 35px;
        right: 0;
        display: none;
        width: auto;
        box-shadow: 0px 0px 1px $black;
        background: $codewhite;
        &.active {
          display: block;
        }
        li {
          display: block;
          a {
            color: $darkblue;
          }
        }
      }
    }
  }
}