<nav ng-controller="NavbarController">
  <ul class="nav nav-pills pull-right">
    <li><a class="brand">Gator</a></li>
    <li ng-class="{ active: isActive('/')}"><a ng-href="#/">Home</a></li>
    <li ng-class="{ active: isActive('/about')}"><a ng-href="#/about">About</a></li>
    <li ng-class="{ active: isActive('/contact')}"><a ng-href="#/">Contact</a></li>
    <li ng-class="{ active: isActive('/social')}"><a ng-href="#/social">Social</a></li>
    <li>
      <a>Account</a>
      <ul>
        <li ng-if="isLoggedIn()" class="nav-left text-only"><a class="logout" href="javascript:void(0)" ng-click="logout()" >Logout</a></li>
      </ul>
    </li>
    <li ng-if="!isLoggedIn()" ng-class="{ active: isActive('/login')}"><a class="login" ng-href="#/login" >Login</a></li>
  </ul>
</nav>